
PORT=5000
MONGO_URI=mongodb+srv://alia:12345678900@cluster0.ospncny.mongodb.net/?appName=Cluster0
JWT_SECRET=00b593ddd16fe126c20bfbbeb2562935ad9fcd8651d4a75eddfebda65cd32a88
CLOUDINARY_CLOUD_NAME=dqmr9p60c
CLOUDINARY_API_KEY=822985266439234
CLOUDINARY_API_SECRET=M8TwxFR9jBFrv9EcTx5j1maGawc
RAZORPAY_KEY_ID=rzp_test_SrvLXPrXRqY2Fm
RAZORPAY_KEY_SECRET=x549dTlV1KJie3mnYEfCrKgE


